In [6]:
import pandas as pd
import numpy as np
import os
from thefuzz import fuzz
from thefuzz import process

In [35]:
directory = './Datasets/'

files_clientes = [f for f in os.listdir(directory) if ('Clientes' in f)]
files_ventas = [f for f in os.listdir(directory) if ('Venta' in f and not 'Canal' in f)]

In [36]:
def get_time_creation(file):
    return os.stat(f'{directory}{file}').st_ctime

def get_latest(files):
    files.sort(key=get_time_creation)
    return files[-1]

In [37]:
latest_clientes = get_latest(files_clientes)
latest_venta = get_latest(files_ventas)

In [41]:
df_clientes = pd.read_csv(f'{directory}{latest_clientes}', delimiter=';', encoding='utf-8')
df_ventas = pd.read_csv(f'{directory}{latest_venta}')

In [43]:
df_ventas

,IdVenta,Fecha,Fecha_Entrega,IdCanal,IdCliente,IdSucursal,IdEmpleado,IdProducto,Precio,Cantidad
0,47612,2020-12-01,2020-12-08,1,1667,13,1674,42945,3210.00,3.0
1,47613,2020-12-01,2020-12-09,2,979,1,1517,42988,598.00,2.0
2,47614,2020-12-01,2020-12-04,2,708,1,1056,42883,498.00,2.0
3,47615,2020-12-01,2020-12-05,2,640,1,1674,42922,741.00,2.0
4,47616,2020-12-01,2020-12-07,1,524,14,1076,42933,1154.00,1.0
...,...,...,...,...,...,...,...,...,...,...
460,48237,2020-12-30,2021-01-02,1,1368,20,3186,42880,560.00,2.0
461,48238,2020-12-30,2021-01-02,2,354,23,3504,42883,498.00,1.0
462,48239,2020-12-30,2021-01-06,2,2400,25,3622,42814,369.82,2.0
463,48240,2020-12-30,2021-01-03,2,1803,30,3864,42998,529.00,3.0
464,48241,2020-12-30,2021-01-02,2,226,31,3205,42810,1282.82,2.0