In [14]:
import yfinance as yf
import pandas as pd
import numpy as pd

In [18]:
msft1 = yf.Ticker("MSFT")

In [19]:
msft = msft1.history(start='2000-01-01', end='2021-12-31')

In [20]:
msft.insert(0,'Symbol', 'MSFT')
msft.insert(1,'Sector', msft1.info['sector'])
msft.reset_index(inplace=True)

In [21]:
msft

,Date,Symbol,Sector,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2000-01-03,MSFT,Technology,36.888323,37.281170,35.199082,36.632973,53228400,0.0,0.0
1,2000-01-04,MSFT,Technology,35.690124,36.809737,35.277635,35.395489,54119000,0.0,0.0
2,2000-01-05,MSFT,Technology,34.924090,36.574047,34.374105,35.768711,64059600,0.0,0.0
3,2000-01-06,MSFT,Technology,35.258004,35.788348,34.059821,34.570522,54976600,0.0,0.0
4,2000-01-07,MSFT,Technology,34.138395,35.277651,33.725906,35.022301,62013600,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
5530,2021-12-23,MSFT,Technology,331.291766,334.915829,331.271865,333.223267,19617800,0.0,0.0
5531,2021-12-27,MSFT,Technology,333.989892,340.979147,333.960024,340.949280,19947000,0.0,0.0
5532,2021-12-28,MSFT,Technology,341.646184,342.303295,338.828599,339.754517,15661500,0.0,0.0
5533,2021-12-29,MSFT,Technology,339.804301,342.791154,338.191405,340.451477,15042000,0.0,0.0
5534,2021-12-30,MSFT,Technology,340.411623,341.626278,337.335168,337.832977,15994500,0.0,0.0

In [35]:
msft1.financials

,2021-06-30,2020-06-30,2019-06-30,2018-06-30
Research Development,20716000000.0,19269000000.0,16876000000.0,14726000000.0
Effect Of Accounting Charges,None,None,None,None
Income Before Tax,71102000000.0,53036000000.0,43688000000.0,36474000000.0
Minority Interest,None,None,None,None
Net Income,61271000000.0,44281000000.0,39240000000.0,16571000000.0
Selling General Administrative,25224000000.0,24523000000.0,23098000000.0,22223000000.0
Gross Profit,115856000000.0,96937000000.0,82933000000.0,72007000000.0
Ebit,69916000000.0,53145000000.0,42959000000.0,35058000000.0
Operating Income,69916000000.0,53145000000.0,42959000000.0,35058000000.0
Other Operating Expenses,None,None,None,None
Interest Expense,-2330000000.0,-2591000000.0,-2686000000.0,-2733000000.0
Extraordinary Items,None,None,None,None
Non Recurring,None,None,None,None
Other Items,None,None,None,None
Income Tax Expense,9831000000.0,8755000000.0,4448000000.0,19903000000.0
Total Revenue,168088000000.0,143015000000.0,125843000000.0,110360000000.0
Total Operating Expenses,98172000000.0,89870000000.0,82884000000.0,75302000000.0
Cost Of Revenue,52232000000.0,46078000000.0,42910000000.0,38353000000.0
Total Other Income Expense Net,1186000000.0,-109000000.0,729000000.0,1416000000.0
Discontinued Operations,None,None,None,None
Net Income From Continuing Ops,61271000000.0,44281000000.0,39240000000.0,16571000000.0
Net Income Applicable To Common Shares,61271000000.0,44281000000.0,39240000000.0,16571000000.0

In [8]:
msft1.balance_sheet

,2021-06-30,2020-06-30,2019-06-30,2018-06-30
Intangible Assets,7.800000e+09,7.038000e+09,7.750000e+09,8.053000e+09
Total Liab,1.917910e+11,1.830070e+11,1.842260e+11,1.761300e+11
Total Stockholder Equity,1.419880e+11,1.183040e+11,1.023300e+11,8.271800e+10
Other Current Liab,5.261200e+10,4.600100e+10,4.586000e+10,3.819500e+10
Total Assets,3.337790e+11,3.013110e+11,2.865560e+11,2.588480e+11
Common Stock,8.311100e+10,8.055200e+10,7.852000e+10,7.122300e+10
Other Current Assets,1.347100e+10,1.151700e+10,1.013300e+10,6.855000e+09
Retained Earnings,5.705500e+10,3.456600e+10,2.415000e+10,1.368200e+10
Other Liab,3.168100e+10,3.449200e+10,3.569900e+10,3.570700e+10
Good Will,4.971100e+10,4.335100e+10,4.202600e+10,3.568300e+10
Treasury Stock,1.822000e+09,3.186000e+09,-3.400000e+08,-2.187000e+09
Other Assets,1.507500e+10,1.313800e+10,1.472300e+10,7.442000e+09
Cash,1.422400e+10,1.357600e+10,1.135600e+10,1.194600e+10
Total Current Liabilities,8.865700e+10,7.231000e+10,6.942000e+10,5.848800e+10
Deferred Long Term Asset Charges,7.181000e+09,6.405000e+09,7.536000e+09,1.369000e+09
Short Long Term Debt,8.072000e+09,3.749000e+09,5.516000e+09,3.998000e+09
Other Stockholder Equity,1.822000e+09,3.186000e+09,-3.400000e+08,-2.187000e+09
Property Plant Equipment,7.080300e+10,5.290400e+10,4.385600e+10,3.614600e+10
Total Current Assets,1.844060e+11,1.819150e+11,1.755520e+11,1.696620e+11
Long Term Investments,5.984000e+09,2.965000e+09,2.649000e+09,1.862000e+09
Net Tangible Assets,8.447700e+10,6.791500e+10,5.255400e+10,3.898200e+10
Short Term Investments,1.160320e+11,1.229160e+11,1.224760e+11,1.217180e+11
Net Receivables,3.804300e+10,3.201100e+10,2.952400e+10,2.648100e+10
Long Term Debt,5.007400e+10,5.957800e+10,6.666200e+10,7.224200e+10
Inventory,2.636000e+09,1.895000e+09,2.063000e+09,2.662000e+09
Accounts Payable,1.516300e+10,1.253000e+10,9.382000e+09,8.617000e+09

In [12]:
msft1.info['sector']

'Technology'